<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script src="../org/angular.min.js"></script>
    <script src="../org/jquery.min.js"></script>

    <style>
        .ng-cloak {
            display: none;
        }

        /*-*/
        /*.red {*/
        /*background: red;*/
        /*}*/

        /*.font {*/
        /*font-size: 100px;*/
        /*}*/

        /*-*/
        .lock {
            background: #dcdcdc;
        }
    </style>
</head>
<body ng-app="hd" ng-cloak class="ng-cloak">

<div ng-controller="ctrl">

    <!--<input type="checkbox" ng-model="bg">背景-->
    <!--<input type="checkbox" ng-model="fn">字体大小-->
    <!--<div ng-class="{red:bg,font:fn}">HDPHP</div>-->

    <table border="1" width="500">
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>状态</td>
        </tr>
        <!--ng-class-odd 奇数类  ng-class-even 偶数类-->
        <tr ng-repeat="v in data" ng-class="{lock:v.status}">
            <td>{{v.id}}</td>
            <td>{{v.username}}</td>
            <td>{{v.age}}</td>
            <td><input type="checkbox" ng-model="v.status" ng-checked="v.status?true:false"></td>
        </tr>
    </table>

</div>

<script>

    var m = angular.module('hd', []);

    m.controller('ctrl', ['$scope', ($scope) => {

        $scope.data = [
            {id: 0, username: "李小姐", age: 27, status: 1},
            {id: 1, username: "谭小姐", age: 33, status: 0},
            {id: 2, username: "卢小姐", age: 25, status: 0},
            {id: 3, username: "陈小姐", age: 22, status: 1},
            {id: 4, username: "苏小姐", age: 26, status: 1},
        ];

    }]);

</script>

</body>
</html>